[submodule "CreatingAndCombiningViews"]
	path = CreatingAndCombiningViews
	url = https://github.com/tdrk18/SwiftUI-tutorial-CreatingAndCombiningViews
[submodule "BuildingListsAndNavigation"]
	path = BuildingListsAndNavigation
	url = https://github.com/tdrk18/SwiftUI-tutorial-BuildingListsAndNavigation
[submodule "HandingUserInput"]
	path = HandingUserInput
	url = https://github.com/tdrk18/SwiftUI-tutorial-HandlingUserInput
